/* @import 'bootstrap/dist/css/bootstrap.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  min-width: 100%;
}

.logo {
  padding: 12px 0px;
}

[data-overlay-container=true] {
  display: flex;
  flex-direction: column;
  flex-grow: 1
}
